<app-header [titulo]="titulo"></app-header>



    
<ion-content  color="light">



    <!-- Refresher -->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    

     <!-- POSTS -->

     <app-skeleton-timeline *ngIf="posts.length === 0"></app-skeleton-timeline>



      <app-posts *ngIf="posts.length > 0" [posts]="posts"></app-posts> 



      <!-- Infinite Scroll -->

      <ion-infinite-scroll [disabled]="!habilitado" threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
       >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>

<app-search-filter-bar></app-search-filter-bar>