<app-header [titulo]="titulo"></app-header>

<ion-content>

  <ion-row class="top-20">
    
    <ion-col size-md="6" offset-md="3"  size-xs="12">
      <ion-item >
  
        <ion-icon (click)="limpiarNotificaciones()"  slot="end" name="md-trash"></ion-icon>
        
      </ion-item>
    </ion-col>

  </ion-row>

  <ion-row class="top-20">
    
    <ion-col size-md="6" offset-md="3"  size-xs="12">
      <ion-list>
        <ion-list-header>
          <ion-label>Notificaciones</ion-label>
        </ion-list-header>
    
    
    
        <ion-item *ngFor="let mensaje of mensajes">
          <ion-avatar slot=start>
            <img src="/assets/avatars/av-1.png">
        </ion-avatar>
          <ion-label>
            <h3>{{ mensaje.title }}</h3>
            <p>{{ mensaje.body }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>

  </ion-row>

</ion-content>
