ion-item.item-has-focus > ion-label{
    color:  #525252  !important;
  }



  :host {
    ion-item {
        --border-color: white; // default underline color
        --highlight-color-invalid: red; // invalid underline color
        --highlight-color-valid: #7b52a1 !important;// valid underline color
    }
}


.r-rating {
    margin-left: -25px;
    margin-bottom: -15px;
}

.label-stars{
    top: 5px;
    position: relative;
    font-size: 14px;
}
.post {
   
    
    -webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
}

.image-slide {
    width: 100%;
    height: 250px;

    // background-color: red;

    /* Full height */
    // height: 100%; 

    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-10 {
    margin-left: 10px;
}

.left-1 {
    margin-left: -5px;
    margin-right: 1px;
}

.right-8 {
    right: 8px;
}


.right-13 {
    right: 30px;
    width: 100%;
}

.right-30 {
    right: 30px;
}

.title-separator {
    float: left;
    margin-left: -.75rem;
    width: 125px;
   
}

.separator-base {
    border-radius: 4px;
    height: 3px;
    width: 30vw;
    margin: 0 auto;
    position: absolute;
    margin-left: 5px;
    // float: left;
    // margin-top: 10px;   
    // margin-left: 10px;
    // margin-top: 1px;
   
}

.bg-primary-light {
 background-color: #7b52a1 !important;
}


ion-avatar {
    width: 90px !important; 
    height: 90px !important; 
}

.cut {
    -webkit-clip-path: polygon(0px 225px,997px 258px,832px -4px,0px 0px);
    clip-path: polygon(0px 225px,997px 258px,832px -4px,0px 0px);
   
  }

.poster-detalle-sobre {
    position: adsolute;
    top: -80px;
    left: -6px;
    margin-bottom: -50px;
    // position: absolute;
    // left: -272px;
    // right: 0;
    // top: 27%;
    //  margin: 0 auto;
     z-index: 9999999;
}

.top-10 {
    top: -10px;
}

.services-al {
    position: absolute;
    margin-left: 37px;
    top:3px;

}

.float-r {
    float: right;
}

.seller-name {
    position: adsolute;
    top: -52px;
    margin-bottom: -50px;
    // position: absolute;
    // left: -272px;
    // right: 0;
    // top: 27%;
    //  margin: 0 auto;
     z-index: 9999999;
    right: 8px;
}

.aling-position {
    float:left;
    margin-top: 13px;
    margin-left: -5px;
}

.aling-slide2 {
    float: left;
    margin-top: 8px;
    margin-left: 5px;
}

.aling-amount {
    float:left;
    margin-top: 9px;
    margin-left: -5px;
}

.aling-rate {
    // float:left;
    margin-top: -3px;
    // margin-left: -8px;
    padding-top: 5px;
    // text-align: center;
}

.titulo {
    width: 100%;
    position: absolute;
    color: black;
    background-color: red;
    padding: 5px 5px 40px 5px;


    // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    // background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.titulo h1{
    position: absolute;
    top: 28px;
    left: 5px;
}

.card-actor {
    height: 210px;
}

.actor-name {
    position: relative;
    top:15px;
}



input{
    background-repeat:repeat-x;
    border: 0px solid;
    height:25px;
    width:125px;
}

#comentario{
    width:210px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:30px;
	background-color:#f0f0f0;
	// margin:-2px 0;
    display:inline-block;
    // right: 31px;
    height: 35px;
    margin-left: -25px;
}

#comentar{
    margin-top: 8px;
     margin-left: 10px;
}

.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
    text-align: left;
    // margin-left: 5px;
}

.pop {
    // margin-left: auto !important;
    // margin-right: auto !important;
    .pop-over-style .popover-content .sc-ion-popover-ios-h {
    --width: 300px !important;
    
    }
}




