



<app-skeleton-detailpost *ngIf="skeleton"></app-skeleton-detailpost>


<ion-content #scrollElement [scrollEvents]="true" *ngIf="!skeleton">

  <ion-row>
    <ion-col  size-md="4" offset-md="4" xs=12>
 
  <ion-slides *ngIf="imgs.length > 1" [options]="slideSoloOpts2">

    <ion-slide *ngFor="let img of imgs"
    class="image-slide cut"
    [style]="(img | imagen) | domSanitizer">

     </ion-slide>

    </ion-slides>

    <ion-slides *ngIf="imgs.length === 1" [options]="slideSoloOpts">

        <ion-slide  class="image-slide cut"
        [style]="(imgs[0] | imagen) | domSanitizer">

         </ion-slide>

        </ion-slides>

      </ion-col>
    </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4"  size-xs="5" class="poster-detalle-sobre">
       
          <ion-avatar >
            <!-- <img src="https://picsum.photos/500/300?random=2" > -->
            <img src="/assets/avatars/av-1.png">
        </ion-avatar>

        
 
      </ion-col>

      <ion-col  size-md="4" offset-md="4"  size-xs="7" >
        

        <ion-item>
         
          <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
         
          <ion-button id="shareSelect" (click)="compartir()"   slot="end"  size="default"  fill="outline" class="ion-text-capitalize"
          color="vidas"
          shape="round">
          <ion-icon slot=start name="share" color="vidas"></ion-icon>
              Compartir
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row style="margin-bottom: -25px;">

      <ion-col size-md="3" offset-md="4"  size-xs="9"  class="seller-name">

       
        <ion-chip > <ion-icon class="left-1" name="contact"></ion-icon> {{ post.seller.name}} </ion-chip>


      

    </ion-col >

        <ion-col size-md="4" offset-md="4" size-xs="12"  class="top-10">
          <ion-chip class="right-8" color="vidas">
            <h3>{{ post.name }} : </h3>
            <ion-label *ngIf="servicioSeleccionado != null" style="margin-top: 7px; margin-left: 15px;"> <strong>{{ servicioSeleccionado  }}</strong> </ion-label>
          </ion-chip>
          
        

          <hr class="separator-base bg-primary-light separator-title">

        </ion-col>
    </ion-row>

    <ion-row class="r-rating">
      <ion-col class="ion-text-center"  size-md="4" offset-md="4"   size-xs="6">
        
                <ion-rating [rate]="rateProduct"
                readonly="false" 
                resettable="true"
                size="small" 
                (hover)="onRateChange($event)">
                </ion-rating>
                <ion-label class="label-stars" color="vidas">

                  4.5
                
                </ion-label>       
        
      
      </ion-col>
    </ion-row>

      <ion-row >


        <ion-col size-md="4" offset-md="4"  size-xs="12" >

                  <ion-label >

                    {{post.description}}
                  
                  </ion-label>       
          
        </ion-col>


      
    </ion-row>

   

   

 
          

   



  </ion-grid>


</ion-content>

<ion-footer  no-border  color="light">
  <ion-toolbar>

    
    <ion-row >
      <ion-col class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
        
                <ion-rating [rate]="rate"
                readonly="false" 
                resettable="true"
                size="default" 
                (hover)="onRateChange($event)">
                </ion-rating>

      
      </ion-col>
    </ion-row>

        
    <ion-row *ngIf="rate > 0">

      <ion-col class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
        
        <ion-item>
          <ion-label color="vidas" mode="ios" position="floating">Comentario:</ion-label>
          <ion-textarea rows="6" cols="20"  color="vidas"  placeholder="Deja tu comentario aquí..." [(ngModel)]="newComment"></ion-textarea>
        </ion-item>
        
      
      </ion-col>

      <ion-col class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
        <ion-button  (click)="call()"   size="middle"  class="ion-text-capitalize "
        color="vidas"
        shape="round">
        <ion-icon slot="start" name="call" color="vidas"></ion-icon>
            Publicar comentario
          </ion-button>

      
      </ion-col>

    </ion-row >

    
    <ion-row >
      <ion-col class="ion-text-center"  size-md="4" offset-md="4"   size-xs="6">
        <ion-button  (click)="call()"   size="middle"  fill="outline" class="ion-text-capitalize "
        color="vidas"
        shape="round">
        <ion-icon slot="start" name="call" color="vidas"></ion-icon>
            Llamar
          </ion-button>

      
      </ion-col>

      <ion-col class="ion-text-center"  size-md="4" offset-md="4"   size-xs="6">
   

          <ion-button  (click)="sendWhatsapp()"   size="middle"  fill="outline" class="ion-text-capitalize "
          color="vidas"
          shape="round">
          <ion-icon slot="start" name="logo-whatsapp" color="vidas"></ion-icon>
              Whatsapp
            </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>
