.img-avatar {
    width: 150px;
    height: 150px;
    margin-left: -14px;
}

.top-20 {
    margin-top: 20px;
}

.top-30 {
    margin-top: 30px;
}

.left-20 {
    margin-left: 18px;
}

.poster-detalle-sobre {
    position: adsolute;
    top: -54px;
    left: 234px;
    margin-bottom: -38px;
    // position: absolute;
    // left: -272px;
    // right: 0;
    // top: 27%;
    //  margin: 0 auto;
     z-index: 9999999;
}