#myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}

.top-20 {
    margin-top: 20px;
}

.left-20 {
    margin-left: 20px;
}

.left-30 {
    margin-left: 30px;
}