<!-- <ion-item lines="none">



   
  <ion-col   size-md="1"    size-xs="2">

      <ion-button   id="countrySelect" (click)="mostrarPop($event)"   size="small"  fill="outline" class="ion-text-capitalize"
  color="vidas"
  shape="round">
  <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
  País
  </ion-button>

</ion-col>
 

    <ion-col   size-md="1" offset-md="0"  offset-xs="1"   size-xs="4">
 

      <ion-button  id="ubicationSelect" (click)="mostrarPop($event)"   size="small"  fill="outline" class="ion-text-capitalize"
      color="vidas"
      shape="round">
      <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
      Ubicación
      </ion-button>
    </ion-col>

    <ion-col   size-md="1"   size-xs="3">
 

      <ion-button style="margin-left: 7px;" id="categorySelect" (click)="mostrarPop($event)"   size="small"  fill="outline" class="ion-text-capitalize"
      color="vidas"
      shape="round">
      <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
      Categoria
      </ion-button>
    </ion-col>


    <ion-col   size-md="1" offset-md="8"   size-xs="1">
 

      <ion-button style="margin-left: 30px;" id="monedasSendSelect" (click)="mostrarPop($event)"   size="small"  fill="clear" class="ion-text-capitalize"
      color="vidas"
      shape="round"
      expand="block">
    <ion-icon slot=start name="arrow-up" color="vidas"></ion-icon> 
    x
      </ion-button>
    </ion-col>

  


    



</ion-item> -->

<ion-footer  no-border class="ion-padding-bottom" color="light">
  <ion-toolbar>

    


    
    <ion-row >
      
  
      <ion-col *ngIf="!filtros" class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
        <!-- <ion-button   id="countrySelect" (click)="filters()"   size="small"  fill="outline" class="ion-text-lowercase"
        color="vidas"
        shape="round"
        >
  
        ocultar
        </ion-button> -->

        <ion-chip (click)="filters()" color="vidas">x</ion-chip>

      
      </ion-col>

      <ion-col *ngIf="!filtros" class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
        <ion-button   id="countrySelect" (click)="mostrarPop($event)"   size="small"  fill="outline" class="ion-text-capitalize"
        color="vidas"
        shape="round"
        expand="block">
        <ion-icon slot="end" name="arrow-dropdown" color="vidas"></ion-icon>
        {{ paisSeleccionado }}
        </ion-button>

      
      </ion-col>

      <ion-col *ngIf=" !filtros && paisSeleccionado != 'País'" class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
   

        <ion-button   id="countrySelect" (click)="mostrarPop($event)"   size="small"  fill="outline" class="ion-text-capitalize"
        color="vidas"
        shape="round"
        expand="block"
        >
        <ion-icon slot="end" name="arrow-dropdown" color="vidas"></ion-icon>
        {{ ubicacionSeleccionada }}
        </ion-button>
      </ion-col>

      <ion-col *ngIf="!filtros" class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
   

        <ion-button   id="countrySelect" (click)="mostrarPop($event)"   size="small"  fill="outline" class="ion-text-capitalize"
        color="vidas"
        shape="round"
        expand="block"
        >
        <ion-icon slot="end" name="arrow-dropdown" color="vidas"></ion-icon>
        {{ categoriaSeleccionada }}
        </ion-button>
      </ion-col>

  

      <ion-col *ngIf="filtros" class="ion-text-center"  size-md="4" offset-md="4"   size-xs="12">
   

        <ion-button   id="countrySelect" (click)="filters()"   size="default"  fill="outline" class="ion-text-capitalize"
        color="vidas"
        shape="round">
        <ion-icon slot="end" name="keypad" color="vidas"></ion-icon>
        Filtros
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>