
<div class="post">

   
    
    <ion-item lines="none">

        <ion-avatar slot=start>
            <img src="/assets/avatars/av-1.png">
        </ion-avatar>

        <ion-label>
            <h3><span class="ion-text-capitalize"> {{ post.name }}</span> </h3>
             <h5>{{ post.seller.name }} </h5>
        </ion-label>
    </ion-item>

    <!-- <ion-slides pager="true" >
        <ion-slide class="image-slide"
        [style]="img1 | domSanitizer">
         </ion-slide>

         <ion-slide class="image-slide"
         [style]="img2 | domSanitizer">
        </ion-slide>

        <ion-slide class="image-slide"
        [style]="img3 | domSanitizer">
        </ion-slide>

        </ion-slides> -->


    
        <ion-item lines="none" style="margin-bottom: -17px;">
             <ion-label class="ion-text-wrap">
                {{ post.description | slice:0:cortar }}
                <span class="color-vida" (click)="verDetalle()" *ngIf="cortar !== 5000" >... Leer más</span>
             </ion-label>
             
        </ion-item>

        <ion-item lines="none" style="margin-bottom: -10px;">
            <ion-col style="margin-left: -30px;" class="ion-text-left"    size-xs="2">
              <ion-button  (click)="compartir()"   size="middle"  fill="clear" class="ion-text-capitalize color-ubication"
              
              shape="round">
              <ion-icon class="color-pin" slot="start" name="pin"></ion-icon>
                Tacna, Perú
                </ion-button>
      
            
            </ion-col>

     
      
      
      
          </ion-item>

 
        <ion-slides pager="true" *ngIf="postImages.length > 1">

            <ion-slide *ngFor="let img of postImages"
            (click) ="verDetalle()" class="image-slide"
            [style]="(img | imagen) | domSanitizer">
    
             </ion-slide>
    
            </ion-slides>
    
            <ion-slides *ngIf="postImages.length === 1" [options]="slideSoloOpts">
    
                <ion-slide (click) ="verDetalle()" class="image-slide"
                [style]="(postImages[0] | imagen) | domSanitizer">
        
                 </ion-slide>
        
                </ion-slides>
                
                
                <ion-item lines="none">
                    <ion-col style="margin-left: -30px;" class="ion-text-left"    size-xs="2">
                      <ion-button  (click)="compartir()"   size="middle"  fill="clear" class="ion-text-capitalize "
                      color="vidas"
                      shape="round">
                      <ion-icon class="color-gold" slot="end" name="star"></ion-icon>
                        4.5
                        </ion-button>
              
                    
                    </ion-col>

                    <ion-col class="ion-text-left"  offset-md="2" size-xs="4">
                        <ion-button  (click)="compartir()"   size="middle"  fill="clear" class="ion-text-capitalize "
                        color="vidas"
                        shape="round">
                       
                        <ion-chip color="vidas">10</ion-chip> Comentarios
                          </ion-button>
                
                      
                      </ion-col>
              
                    <ion-col class="ion-text-right"  offset-xs="2" offset-md="1"  size-xs="4">
                 
              
                        <ion-button  (click)="compartir()"   size="middle"  fill="clear" class="ion-text-capitalize "
                        color="vidas"
                        shape="round">
                        <ion-icon slot=start name="share" color="vidas"></ion-icon>
                            Compartir
                          </ion-button>
                    </ion-col>
              
                  </ion-item>


</div>
