<app-header [titulo]="titulo"></app-header>

<ion-content *ngIf="skeleton" >
  <app-skeleton-list ></app-skeleton-list>
</ion-content>



<ion-content *ngIf="!skeleton"  color="light">

    <!-- Refresher -->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    

     <!-- USUARIOS -->

     <ion-grid fixed>
      <ion-row class="top-20">
    
        <ion-col size-md="6" offset-md="3"  size-xs="12">
          <ion-list>
            <ion-list-header>
              <ion-label>Usuarios Registrados:</ion-label>
            </ion-list-header>
        
        
        
            <ion-item *ngFor="let user of users">
              <ion-avatar slot=start>
                <img [src]="user.image | imagen">
            </ion-avatar>
              <ion-label>
                <h3>{{ user.name }}</h3>
                <p>{{ user.email }}</p>
              
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
    
      </ion-row>
    </ion-grid>
    



      <!-- Infinite Scroll -->

      <ion-infinite-scroll [disabled]="!habilitado" threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
       >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>
